/node_modules
/public/hot
/public/node_modules
/public/item-img
/public/storage
/storage/*.key
/storage/proxies
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
