
.box-min-height {
    min-height: 400px;
}

.selectable {
    cursor: pointer;
}

tr.selected {
    background-color:#f5f5f5;
}

.table-hover > tbody > tr.form-row:hover {
    background-color: inherit;
}